@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

ul {
  margin-right: 5%;

  li {
    white-space: nowrap;
    margin: 2%;

    .linkHeader {
      color:black;
      font-size: 1.1rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
    }

    .linkBlack {
      background-color: #F5F5F7;
      font-size: 1.1rem;
      display: inline-block;
      border-radius: 4%;
    }


  }
}

.btnCollapseContainer{
  background-color: #2F4858;
}

nav {
  box-shadow: 0px 1px 2px 1px gray;
}

#collapseBtn {
  color: white;
}


@media screen and (max-width: 993px) {
  ul {
    li {
      a, .classPubli {
        font-size: 1.2rem;
        padding: 2%;
        border-top: none;
        border-left: none;
        border-right: none;
        box-shadow: none;

      }
    }
  }

  .linkRed {
    padding: 1%;
  }
}

