@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


#containerHome {
  display: flex;
  flex-direction: column;
}

#homeTitle {
  display: flex;
  margin-top: 8%;
  justify-content: center;
  h1 {
    font-family: 'Open Sans', sans-serif;
    padding: 2%;
    font-size: 3rem;
    color: #2F4858;
    background-color: #F5F5F7;
    #groupoTitle {
      font-size: 4rem;
      color: #FD2D01;
      font-weight: bold;
    }
  }
}

#containerLoginRegister {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  @media screen and(max-width: 900px) {
    flex-direction: column;
    text-align: center;
    a {
      &:hover {
        transition: none !important;
        transform: none !important;
      }
    }
  }

  a {
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
    transition: 0.3s;
    margin: 2%;
    font-size: 2rem;
    padding: 0.5%;

    color: #2F4858;
    text-decoration: none;
  }
}


