@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.familyOpenSans{
  font-family: 'Open Sans', sans-serif;
}
#titleRegister {
  font-size: 1.7rem;
  font-style: italic;
  background-color: #2F4858;
}

#blockRegister {
  display: flex;
  flex-direction: column;
  padding-top: 2.5%;
  padding-bottom: 3%;

}

#cardContainer {
  margin: auto;

}
