<div class="container-fluid" id="containerNews">
  <img class="col-6" height="100%" src="assets/bannerImg.jpg">
  <div class="container col-md-5 col-10 familyOpenSans" id="containerNewPost">
    <div class="row shadow">
      <div class="col-md-10  col-md-offset-2" id="boxFormNewPosst">
        <h1 class="text-center">Quoi de neuf <span class="font-weight-bold">{{profilUser?.pseudo}}</span> ?</h1>
        <form *ngIf="postForm" (ngSubmit)="onSubmitForm()" [formGroup]="postForm">
          <div class="form-group">
            <label>Titre</label>
            <input class="form-control" formControlName="title_post" name="title" placeholder="Ajoutez un titre"
                   type="text"/>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" formControlName="description_post" name="description"
                      placeholder="Ajoutez une description"
                      rows="6" style="resize: none"></textarea>
          </div>

          <div class="form-group">
            <label class="">Image (facultatif)</label>
            <input (change)="onFileAdded($event)" class="form-control-file" id="fileImg" type="file">
            <img *ngIf="imagePreview" [src]="imagePreview" style="max-height: 100px;display:block;margin-top:10px">

          </div>

          <div class="form-group">
            <button [disabled]="postForm.invalid" class="btn btn-secondary" type="submit">
              Post
            </button>
            <p> {{errMessage}}</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
