<div id="containerConnexion">
  <img class="img-fluid col-md-5 col-12" id="imgLogin" src="assets/imgConnexion.png" alt="picture login">

  <div class="container" id="blockConnexion">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class=" card-header text-center" id="titleConnexion">Connexion</div>
          <div class="card-body">
            <form (ngSubmit)="onSubmitForm()" [formGroup]="loginForm" action="#"
                  class="form-horizontal familyOpenSans font-weight-bold" method="post" autocomplete="off">
              <div class="form-group">
                <label class="cols-sm-2 control-label" for="pseudo"> Pseudo</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i aria-hidden="true" class="fa fa-envelope fa"></i></span>
                    <input class="form-control" formControlName="pseudo" id="pseudo" name="pseudo"
                           placeholder="Votre pseudo..." type="text"/>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <label class="cols-sm-2 control-label" for="password">Mot de passe</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                    <input class="form-control" formControlName="password" id="password" name="password"
                           placeholder="Votre mot de passe"
                           type="password"/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <button [disabled]="loginForm.invalid" class="btn btn-secondary btn-lg btn-block login-button" type="submit">
                  Se connecter
                </button>
              </div>
              <p *ngIf="errMsg" class="text-center text-danger">{{errMsg}}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
